* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap");

.navbar-brand {
  font-family: "Syne Tactile", cursive;
  font-size: 1.2rem;
}
.container-fluid {
  padding: 0px;
}

.fa-spa {
  margin: 0 0.5rem;
}

.fa-house {
  color: white;
  text-decoration: none;
  margin-right: 0.2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-family: "Syne Tactile", cursive;
  font-size: 1.2rem;
}

.nav-item {
  margin: auto;
}

.dropdown-menu {
  min-width: 7rem;
}

.dropdown-item {
  width: 100px;
}

#przyciskDiv {
  margin: auto;
  width: 100%;
  height: 5rem;
  top: 20%;
  background-color: rgba(255, 255, 255, 0.4);
  filter: blur(2px);
}
#przyciskDiv2 {
  margin: auto;
  height: 5rem;
  top: 20%;
  width: 100%;
}

#przycisk {
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
}

#oferta{
  top: 70%;
}